/*

reset
based on https://andy-bell.co.uk/a-more-modern-css-reset/

*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
hr,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

:target {
    scroll-margin-block: 5ex;
}



/*

global vars

*/
:where(html) {

    /* pseudo-private props in triptych notation: namespaceName-valueType-variableName
       https: //jwdallas.com/posts/namingcssvariables/
       https: //lea.verou.me/blog/2021/10/custom-properties-with-defaults/ */

    --_cv-color-light: var(--cv-color-light, hsl(0, 0%, 96%));
    --_cv-color-dark: var(--cv-color-dark, hsl(0, 0%, 4%));
    --_cv-color-neutral: var(--cv-color-neutral, hsl(0, 0%, 46%));
    --_cv-fontFamily-body: Alegreya Sans, system-ui, -apple-system, sans-serif;
    --_cv-fontFamily-display: var(--_cv-fontFamily-body);
    --_cv-fontFamily-smallcaps: Alegreya Sans SC, ui-serif, serif;
    --_cv-maxInlineSize-textMeasure: var(--cv-maxInlineSize-textMeasure, 55ch);
    --_cv-fontWeight-300: var(--cv-fontWeight-300, 300);
    --_cv-fontWeight-400: var(--cv-fontWeight-400, 400);
    --_cv-fontWeight-500: var(--cv-fontWeight-500, 500);
    --_cv-fontSize-s: var(--cv-fontSize-s, clamp(0.7513rem, 0.4806rem + 1.3534vw, 1.6225rem));
    --_cv-fontSize-m: var(--cv-fontSize-m, clamp(1.0625rem, 0.5771rem + 2.4272vw, 2.625rem));
    --_cv-fontSize-l: var(--cv-fontSize-l, clamp(1.5025rem, 0.6497rem + 4.2641vw, 4.2475rem));
    --_cv-fontSize-xl: var(--cv-fontSize-xl, clamp(2.1244rem, 0.6494rem + 7.3748vw, 6.8719rem));
    --_cv-fontSize-xxl: var(--cv-fontSize-xxl, clamp(3.0038rem, 0.4826rem + 12.6058vw, 11.1188rem));
    --_cv-lineHeight-leading: var(--cv-lineHeight-leading, clamp(1.502rem, 4.264vw + 0.65rem, 4.247rem));
    --_cv-letterSpacing-trackingWide: var(--cv-letterSpacing-trackingWide, 0.0618ch);
    --_cv-letterSpacing-trackingSubtle: var(--cv-letterSpacing-trackingSubtle, calc(var(--_cv-letterSpacing-trackingWide)/2));
    --_cv-space-0: var(--cv-space-0, 0);
    --_cv-space-xs: var(--cv-space-xs, clamp(0.3125rem, 0.1766rem + 0.6796vw, 0.75rem));
    --_cv-space-s: var(--cv-space-s, clamp(0.4375rem, 0.2239rem + 1.068vw, 1.125rem));
    --_cv-space-m: var(--cv-space-m, clamp(0.6875rem, 0.3768rem + 1.5534vw, 1.6875rem));
    --_cv-space-l: var(--cv-space-l, clamp(1.0625rem, 0.5771rem + 2.4272vw, 2.625rem));
    --_cv-space-xl: var(--cv-space-xl, clamp(1.625rem, 0.8871rem + 3.6893vw, 4rem));
    --_cv-space-xxl: var(--cv-space-xxl, clamp(2.4375rem, 1.3113rem + 5.6311vw, 6.0625rem));
    --_cv-space-xs-s: var(--cv-space-xs-s, clamp(0.3125rem, 0.0601rem + 1.2621vw, 1.125rem));
    --_cv-space-xs-m: var(--cv-space-xs-m, clamp(0.3125rem, -0.1147rem + 2.1359vw, 1.6875rem));
    --_cv-space-s-m: var(--cv-space-s-m, clamp(0.4375rem, 0.0492rem + 1.9417vw, 1.6875rem));
    --_cv-space-s-xl: var(--cv-space-s-xl, clamp(0.4375rem, -0.6693rem + 5.534vw, 4rem));
    --_cv-space-m-l: var(--cv-space-m-l, clamp(0.6875rem, 0.0856rem + 3.0097vw, 2.625rem));
    --_cv-space-l-xl: var(--cv-space-l-xl, clamp(1.0625rem, 0.1499rem + 4.5631vw, 4rem));
    --_cv-space-l-xxl: var(--cv-space-l-xxl, clamp(1.0625rem, -0.4909rem + 7.767vw, 6.0625rem));
    --_cv-space-xl-xxl: var(--cv-space-xl-xxl, clamp(1.625rem, 0.2464rem + 6.8932vw, 6.0625rem));
    --_cv-borderWidthStyleColor-border: var(--cv-borderWidthStyleColor-border, clamp(0.0088rem, -0.02rem + 0.1437vw, 0.1013rem) solid var(--_cv-color-neutral));
    color: var(--_cv-color-dark);
    background-color: var(--_cv-color-light);
}



/*

dark mode ;)

*/
@media (prefers-color-scheme: dark) {
    :root {
        background-color: var(--_cv-color-dark);
        color: var(--_cv-color-light);
    }
}



/*

elements

*/
body {
    font-family: var(--_cv-fontFamily-body);
    font-size: var(--_cv-fontSize-m);
    line-height: var(--_cv-lineHeight-leading);
    font-weight: var(--_cv-fontWeight-300);
    font-variant-numeric: oldstyle-nums;
    font-variant-numeric: proportional-nums;
    margin-top: var(--_cv-space-xs-s);
    margin-bottom: var(--_cv-space-m-l)
}

h1,
h2,
h3,
h4 {
    font-family: var(--_cv-fontFamily-display);
    font-weight: var(--_cv-fontWeight-500);
}

h5 {
    font-family: var(--_cv-fontFamily-smallcaps);
    font-weight: var(--_cv-fontWeight-500);
}

h1 {
    font-size: var(--_cv-fontSize-xxl);
    line-height: 0.88;
    letter-spacing: var(--_cv-letterSpacing-trackingWide);
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: var(--_cv-fontSize-xl);
    margin-bottom: var(--_cv-space-xxl);
}

h3 {
    font-size: var(--_cv-fontSize-l);
    margin-bottom: var(--_cv-space-m);
    margin-top: var(--_cv-space-xl);
}

h4,
h5 {
    font-size: var(--_cv-fontSize-m);
}

p.title {
    text-align: center;
    font-size: var(--_cv-fontSize-m);
    color: var(--_cv-color-neutral);
}

nav,
address,
footer,
.login {
    font-family: var(--_cv-fontFamily-smallcaps);
    font-size: var(--_cv-fontSize-s);
    font-weight: var(--_cv-fontWeight-400);
}

/* lead in and outro…neutral color */
nav p,
footer p:first-of-type {
    color: var(--_cv-color-neutral);
}

/* de-italicize default */
address {
    font-style: inherit;
}

abbr {
    font-family: var(--_cv-fontFamily-smallcaps);
    font-variant-caps: all-small-caps;
    letter-spacing: var(--_cv-letterSpacing-trackingSubtle);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--_cv-color-neutral);
    text-decoration-thickness: 1.618px;
    text-underline-offset: 0.1618em;
}

/* don't small cap abbrs in these headers */
h3 abbr,
h4 abbr {
    font-family: var(--_cv-fontFamily-display);
    font-variant-caps: normal;
}

/* plural smallcaps abbrs */
abbr+span {
    font-size: 0.618em;
}

/* cap smallcaps in skill boxes */
.box li abbr {
    font-variant-caps: normal;
}

/* neutral color &ndash; date range */
time+span {
    color: var(--_cv-color-neutral);
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

/* add a beat above n+1 org postions */
ul+div.cluster {
    margin-block-start: var(--_cv-space-s);
}

a,
button {
    color: currentcolor;
    text-decoration-line: underline;
    text-decoration-color: var(--_cv-color-neutral);
    text-underline-offset: 0.1618em;
}

/* alert "=" sign */
button span>span {
    color: var(--_cv-color-neutral) !important;
}

/* can't get chrome to not render underline!*/
.alert {
    display: none;
    text-decoration-color: transparent;
    text-decoration-line: underline;
    /* line 445 */
    animation: slide-fade-in-from-right 250ms ease;
}

button,
input {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
}

input {
    border: var(--_cv-borderWidthStyleColor-border);
    color: inherit;
    width: 100%;
    padding-left: 1ch;
}

a:hover svg,
button:hover svg {
    scale: 1.2;
}

a:hover,
button:hover,
button:focus {
    text-underline-offset: 0.3236em;
}

a:active,
a:focus,
button:active,
button:focus {
    outline: var(--_cv-color-neutral) dotted 1.618px;
    outline-offset: +6.853px;
}

/* base64 svg icons */
svg {
    color: var(--_cv-color-neutral);
    width: 10px;
    height: 10px;
}

symbol {
    fill: none;
    stroke: var(--_cv-color-neutral);
    stroke-width: 1;
    stroke-linecap: round;
}



/*

sections

*/
hr {
    border: none;
}

hr.section::after,
hr.subsection::after {
    content: '\00A7';
    display: block;
    filter: opacity(.1);
    text-align: center;
}

hr.section::after {
    font-size: var(--_cv-fontSize-xxl);
}

hr.subsection::after {
    font-size: var(--_cv-fontSize-xl);
}



/*

layout primitives

*/

/* center */
.center {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--_cv-maxInlineSize-textMeasure);
    padding-inline-start: var(--_cv-space-l-xxl);
    padding-inline-end: var(--_cv-space-l-xxl);
}

/* bullseye */
.bullseye {
    display: grid;
    place-items: center
}

/* rhythm vertical */
.rhythm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

[class^='rhythm']>* {
    margin-block: 0;
}

.rhythm-xs>*+* {
    margin-block-start: var(--_cv-space-xs);
}

.rhythm-s>*+* {
    margin-block-start: var(--_cv-space-l-xl);
}

.rhythm-m>*+* {
    margin-block-start: var(--_cv-space-xl);
}

.rhythm-l>*+* {
    margin-block-start: var(--_cv-space-xl-xxl);
}

/* cluster */
.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--_cv-space-xs-m);
    justify-content: space-between;
    align-items: center;
}

/* paragraph, glyph delimited lists (main <li>s) */
.para-list>* {
    list-style: none;
    display: inline;
}

.para-list>*+*::before {
    content: var(--symbol, '\22B9')'\0020';
    color: var(--_cv-color-neutral);
}

/* box */
article.box,
.box li {
    padding: var(--_cv-space-s-m);
    border: var(--_cv-borderWidthStyleColor-border);
    color: inherit;
    background-color: inherit;
}

.box * {
    color: inherit;
}

/* icon */
.icon {
    width: 1cap;
    width: 0.75em;
    height: 0.75em;
    height: 1cap;
}

.with-icon {
    display: inline-flex;
    align-items: baseline;
}

.with-icon .icon {
    margin-inline-end: var(--_cv-space-xs-s);
}



/*

login alert animation

*/

@keyframes slide-fade-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(0.4rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



/*

utils

*/

/* rhythm vertical props */
.margin-block-start\:0 {
    margin-block-start: var(--_cv-space-0);
}

/* rhythm vertical collapses when elements for print sidebar header sidebar added */
.margin-block-start\:xl {
    margin-block-start: var(--_cv-space-xl);
}

/* reinflate rhythm primitive margin colpase related to extra sidebar divs for print */
.margin-block-start\:l-xl {
    margin-block-start: var(--_cv-space-l-xl);
}

.margin-block-end\:l-xl {
    margin-block-end: var(--_cv-space-l-xl);
}

/* cluster props */
.justify-content\:c {
    justify-content: center;
}

.justify-content\:fs {
    justify-content: flex-start;
}

/* type */
.font-variant-numeric\:ln {
    font-variant-numeric: lining-nums;
}

.font-size\:s {
    font-size: var(--_cv-fontSize-s) !important;
}

.text-align\:r {
    text-align: right !important;
}

/* size */
.padding\:l {
    padding: var(--_cv-space-l);
}

.gap\:s-xl {
    gap: var(--_cv-space-s-xl);
}

/* layout debugger */
.* {
    outline: deeppink dotted 0.5px;
}



/*

print styles @media to avoid extra http call

*/
@media print {

    /* add a note for tree killers after the content */
    main::after {
        content: "View on-screen at resume.timpish.com ⊹ LinkedIn: https://www.linkedin.com/in/timothyfmartens/";
        display: block;
        font-size: 8pt;
        padding-top: 28pt;
        text-align: center;
        text-transform: uppercase;
    }

    @page {
        /* 215.9 x 279.4 mm/21.6 x 27.9 cm/8.5 x 11 in */
        /* 12pt = 1pc, 1pc = 4.23mm, 1pt = 0.353mm     */
        size: letter portrait;
        margin: 13mm 8mm 0 11mm;
        padding: 0;
    }

    /* page margins because @page has weak support */
    body,
    html {
        margin: 0 !important;
        padding: 0 !important;
    }

    body,
    h4,
    h5,
    li,
    p {
        color: #000;
        background: #fff;
        font-size: 10pt;
        line-height: 1.2;
    }

    h1 {
        font-size: 27pt;
    }

    h2 {
        font-size: 21pt;
        margin: 21pt 0 11pt 0 !important;
    }

    h2::after {
        content: '\00A7\00A7\00A7';
        filter: opacity(0.27);
        float: right;
        margin-right: 1mm;
    }

    h5 {
        margin-right: 1mm;
    }

    h3 {
        font-size: 14pt;
        margin: 7pt 0 2pt 0 !important;
    }

    /* beat above n+1 org postions */
    ul+div.cluster {
        margin-block-start: 3pt !important;
    }

    /* safari/webkit only because it enforces 0.25in margins and renders larger */
    @supports (background: -webkit-named-image(i)) {
        html {
            margin: 0 !important;
            padding: 0 !important;
        }

        body {
            margin: 8mm 2mm 0 5mm !important;
            padding: 0 !important;
        }

        body,
        li,
        h4,
        h5,
        p {
            font-size: 9.3pt;
        }


        h1 {
            font-size: 25pt;
        }

        h2 {
            font-size: 19pt;
            margin: 19pt 0 10pt 0 !important;
        }

        h3 {
            font-size: 12.5pt;
            margin: 6.3pt 0 1.8pt 0 !important;
        }

        /* beat above n+1 org postions */
        ul+div.cluster {
            margin-block-start: 2pt !important;
        }

        main::after {
            font-size: 7.2pt;
            line-height: 0.9;
            padding-top: 46pt;
        }
    }

    /* edu copy */
    h3+h4 {
        font-weight: 300;
    }

    abbr,
    a {
        text-decoration: none
    }

    /* 🙈 see no elements */
    br,
    embed,
    footer,
    hr,
    nav,
    svg,
    .box li:last-of-type {
        display: none !important;
    }

    /* squish it: above header, exp, edu+skills */
    .rhythm-xs>*+*,
    .rhythm-s>*+*,
    .rhythm-m>*+*,
    .rhythm-l>*+* {
        margin-block-start: 0;
    }

    /* skills boxes */
    /* use para-list style to condense leading */
    h3+ul.cluster,
    h3+ul.cluster>* {
        list-style: none;
        display: inline !important;
    }

    h3+ul.cluster>*+*::before {
        content: var(--symbol, '\22B9')'\0020';
        color: var(--_cv-color-neutral);
    }

    /* zero out */
    .box li {
        padding: 0;
        border: none;
    }

    .center {
        max-inline-size: none;
    }

    /* sidebar primitive */
    .sidebar {
        display: flex;
        flex-wrap: wrap;
        gap: 4mm !important;
    }

    /* edu + skills sidebar */
    .sidebar> :first-child {
        flex-basis: 69mm !important;
        flex-grow: 1;
    }

    /* header sidebar */
    .sidebar.for-print> :first-child {
        flex-basis: 82mm !important;
        flex-grow: 1;
    }

    /* safari/webkit */
    @supports (background: -webkit-named-image(i)) {
        .sidebar.for-print> :first-child {
            flex-basis: 76mm !important;
        }
    }

    .sidebar> :last-child {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: 50%;
    }

    /* left align h1 and address cluster */
    h1 {
        text-align: left;
    }

    /* adjust address objects' gap in header */
    address ul.cluster {
        justify-content: flex-start !important;
        gap: 2.62mm !important;
    }

    /* swap out "portfolio" for "timpish.com" in header */
    .swap span {
        display: none;
    }

    .swap:after {
        content: 'Timpish.com';
    }

    /* collapse space above intro in header */
    .margin-block-start\:xl {
        margin-block-start: 0;
    }
}