    /* Reset based on https://andy-bell.co.uk/a-more-modern-css-reset/ */

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        margin: 0;
    }

    body {
        min-height: 100vh;
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    hr,
    button,
    input,
    label {
        line-height: 1.1;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-wrap: balance;
    }

    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    :target {
        scroll-margin-block: 5ex;
    }

    /* Global vars */

    :where(html) {

        /* pseudo-private props in triptych notation: namespaceName-valueType-variableName
               https: //lea.verou.me/blog/2021/10/custom-properties-with-defaults/
               https: //jwdallas.com/posts/namingcssvariables/ */

        --_cv-color-light: var(--cv-color-light, hsl(0, 0%, 96%));
        --_cv-color-dark: var(--cv-color-dark, hsl(0, 0%, 4%));
        --_cv-color-neutral: var(--cv-color-neutral, hsl(0, 0%, 46%));
        --_cv-fontFamily-body: Alegreya Sans, system-ui, -apple-system, sans-serif;
        --_cv-fontFamily-display: var(--cv-fontFamily-body);
        --_cv-fontFamily-smallcaps: Alegreya Sans SC, ui-serif, serif;
        --_cv-maxInlineSize-textMeasure: var(--cv-maxInlineSize-textMeasure, 55ch);
        --_cv-fontWeight-300: var(--cv-fontWeight-300, 300);
        --_cv-fontWeight-400: var(--cv-fontWeight-400, 400);
        --_cv-fontWeight-500: var(--cv-fontWeight-500, 500);
        --_cv-fontSize-s: var(--cv-fontSize-s, clamp(0.7513rem, 0.4806rem + 1.3534vw, 1.6225rem));
        --_cv-fontSize-m: var(--cv-fontSize-m, clamp(1.0625rem, 0.5771rem + 2.4272vw, 2.625rem));
        --_cv-fontSize-l: var(--cv-fontSize-l, clamp(1.5025rem, 0.6497rem + 4.2641vw, 4.2475rem));
        --_cv-fontSize-xl: var(--cv-fontSize-xl, clamp(2.1244rem, 0.6494rem + 7.3748vw, 6.8719rem));
        --_cv-fontSize-xxl: var(--cv-fontSize-xxl, clamp(3.0038rem, 0.4826rem + 12.6058vw, 11.1188rem));
        --_cv-lineHeight-leading: var(--cv-lineHeight-leading, clamp(1.502rem, 4.264vw + 0.65rem, 4.247rem));
        --_cv-letterSpacing-trackingWide: var(--cv-letterSpacing-trackingWide, 0.0618ch);
        --_cv-letterSpacing-trackingSubtle: var(--cv-letterSpacing-trackingSubtle, calc(var(--_cv-letterSpacing-trackingWide)/2));
        --_cv-space-0: var(--cv-space-0, 0);
        --_cv-space-xs: var(--cv-space-xs, clamp(0.3125rem, 0.1766rem + 0.6796vw, 0.75rem));
        --_cv-space-s: var(--cv-space-s, clamp(0.4375rem, 0.2239rem + 1.068vw, 1.125rem));
        --_cv-space-m: var(--cv-space-m, clamp(0.6875rem, 0.3768rem + 1.5534vw, 1.6875rem));
        --_cv-space-l: var(--cv-space-l, clamp(1.0625rem, 0.5771rem + 2.4272vw, 2.625rem));
        --_cv-space-xl: var(--cv-space-xl, clamp(1.625rem, 0.8871rem + 3.6893vw, 4rem));
        --_cv-space-xxl: var(--cv-space-xxl, clamp(2.4375rem, 1.3113rem + 5.6311vw, 6.0625rem));
        --_cv-space-xs-s: var(--cv-space-xs-s, clamp(0.3125rem, 0.0601rem + 1.2621vw, 1.125rem));
        --_cv-space-xs-m: var(--cv-space-xs-m, clamp(0.3125rem, -0.1147rem + 2.1359vw, 1.6875rem));
        --_cv-space-s-m: var(--cv-space-s-m, clamp(0.4375rem, 0.0492rem + 1.9417vw, 1.6875rem));
        --_cv-space-s-xl: var(--cv-space-s-xl, clamp(0.4375rem, -0.6693rem + 5.534vw, 4rem));
        --_cv-space-m-l: var(--cv-space-m-l, clamp(0.6875rem, 0.0856rem + 3.0097vw, 2.625rem));
        --_cv-space-l-xl: var(--cv-space-l-xl, clamp(1.0625rem, 0.1499rem + 4.5631vw, 4rem));
        --_cv-space-l-xxl: var(--cv-space-l-xxl, clamp(1.0625rem, -0.4909rem + 7.767vw, 6.0625rem));
        --_cv-space-xl-xxl: var(--cv-space-xl-xxl, clamp(1.625rem, 0.2464rem + 6.8932vw, 6.0625rem));
        --_cv-borderWidthStyleColor-border: var(--cv-borderWidthStyleColor-border, clamp(0.0088rem, -0.02rem + 0.1437vw, 0.1013rem) solid var(--_cv-color-neutral));
        color: var(--_cv-color-dark);
        background-color: var(--_cv-color-light);
    }

    /* Dark mode */
    @media (prefers-color-scheme: dark) {
        :root {
            background-color: var(--_cv-color-dark);
            color: var(--_cv-color-light);
        }
    }

    /* Elements */

    body {
        font-family: var(--_cv-fontFamily-body);
        font-size: var(--_cv-fontSize-m);
        line-height: var(--_cv-lineHeight-leading);
        font-weight: var(--_cv-fontWeight-300);
        font-variant-numeric: oldstyle-nums;
        font-variant-numeric: proportional-nums;
        margin-top: var(--_cv-space-xs-s);
        margin-bottom: var(--_cv-space-m-l)
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: var(--_cv-fontFamily-display);
        font-weight: var(--_cv-fontWeight-500);
    }

    h5 {
        font-family: var(--_cv-fontFamily-smallcaps);
        font-weight: var(--_cv-fontWeight-500);
    }

    h1 {
        font-size: var(--_cv-fontSize-xxl);
        line-height: 0.88;
        letter-spacing: var(--_cv-letterSpacing-trackingWide);
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        font-size: var(--_cv-fontSize-xl);
        margin-bottom: var(--_cv-space-xxl);
    }

    h3 {
        font-size: var(--_cv-fontSize-l);
        margin-bottom: var(--_cv-space-m);
        margin-top: var(--_cv-space-xl);
    }

    h4,
    h5 {
        font-size: var(--_cv-fontSize-m);
    }

    p.title {
        text-align: center;
        font-size: var(--_cv-fontSize-m);
        color: var(--_cv-color-neutral);
    }

    nav,
    address,
    footer,
    .login {
        font-family: var(--_cv-fontFamily-smallcaps);
        font-size: var(--_cv-fontSize-s);
        font-weight: var(--_cv-fontWeight-400);
    }

    /* lead in and outro…neutral color */
    nav p,
    footer p:first-of-type {
        color: var(--_cv-color-neutral);
    }

    /* de-italicize default */
    address {
        font-style: inherit;
    }

    abbr {
        font-family: var(--_cv-fontFamily-smallcaps);
        font-variant-caps: all-small-caps;
        letter-spacing: var(--_cv-letterSpacing-trackingSubtle);
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: var(--_cv-color-neutral);
        text-decoration-thickness: 1.618px;
        text-underline-offset: 0.1618em;
    }

    /* don't small cap abbrs in these headers */
    h3 abbr,
    h4 abbr {
        font-family: var(--_cv-fontFamily-display);
        font-variant-caps: normal;
    }

    /* plural smallcaps abbrs */
    abbr+span {
        font-size: 0.618em;
    }

    /* cap smallcaps in skill boxes */
    .box li abbr {
        font-variant-caps: normal;
    }

    /* neutral color punctuation glyphs &ndash;, &plus; */
    time+span,
    h4>span {
        color: var(--_cv-color-neutral);
    }

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    /* add a beat above n+1 org postions */
    ul+div.cluster {
        margin-block-start: var(--_cv-space-s);
    }

    a,
    button {
        color: currentcolor;
        text-decoration-line: underline;
        text-decoration-color: var(--_cv-color-neutral);
        text-underline-offset: 0.1618em;
    }

    button>span {
        text-decoration-line: underline;
        text-decoration-color: transparent;
    }

    button,
    input {
        background: transparent;
        border: none;
        cursor: pointer;
        display: inline-block;
        font: inherit;
        margin: 0;
    }

    input {
        border: var(--_cv-borderWidthStyleColor-border);
        color: inherit;
        width: 100%;
        padding-left: 1ch;
    }

    a:hover svg,
    button:hover svg {
        scale: 1.2;
    }

    a:hover,
    button:hover,
    button:focus {
        text-underline-offset: 0.3236em;
    }

    a:active,
    a:focus,
    button:active,
    button:focus {
        outline: var(--_cv-color-neutral) dotted 1.618px;
        outline-offset: +6.853px;
    }

    /* icons base64 svgs  */
    symbol {
        fill: none;
        stroke: var(--_cv-color-neutral);
        stroke-width: 1;
        stroke-linecap: round;
    }

    hr {
        border: none;
    }

    hr.section::after,
    hr.subsection::after {
        content: '\00A7';
        display: block;
        filter: opacity(.1);
        text-align: center;
    }

    hr.section::after {
        font-size: var(--_cv-fontSize-xxl);
    }

    hr.subsection::after {
        font-size: var(--_cv-fontSize-xl);
    }

    /* Layout primitives */

    /* center */
    .center {
        box-sizing: content-box;
        margin-inline: auto;
        max-inline-size: var(--_cv-maxInlineSize-textMeasure);
        padding-inline-start: var(--_cv-space-l-xxl);
        padding-inline-end: var(--_cv-space-l-xxl);
    }

    /* target */
    .target {
        display: grid;
        place-items: center
    }

    /* stack */
    .vertical-rhythm {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    [class^='vertical-rhythm']>* {
        margin-block: 0;
    }

    .vertical-rhythm-xs>*+* {
        margin-block-start: var(--_cv-space-xs);
    }

    .vertical-rhythm-s>*+* {
        margin-block-start: var(--_cv-space-l-xl);
    }

    .vertical-rhythm-m>*+* {
        margin-block-start: var(--_cv-space-xl);
    }

    .vertical-rhythm-l>*+* {
        margin-block-start: var(--_cv-space-xl-xxl);
    }

    /* cluster */
    .cluster {
        display: flex;
        flex-wrap: wrap;
        gap: var(--_cv-space-xs-m);
        justify-content: space-between;
        align-items: center;
    }

    /* paragraph, glyph delimited lists (main <li>s) */
    .para-list>* {
        list-style: none;
        display: inline;

    }

    .para-list>*+*::before {
        content: var(--symbol, '\22B9')'\0020';
        color: var(--_cv-color-neutral);
    }

    /* box */
    article.box,
    .box li {
        padding: var(--_cv-space-s-m);
        border: var(--_cv-borderWidthStyleColor-border);
        color: inherit;
        background-color: inherit;
    }

    .box * {
        color: inherit;
    }

    /* icon */
    .icon {
        width: 1cap;
        width: 0.75em;
        height: 0.75em;
        height: 1cap;
    }

    .with-icon {
        display: inline-flex;
        align-items: baseline;
    }

    .with-icon .icon {
        margin-inline-end: var(--_cv-space-xs-s);
    }

    /* Utils */

    /* Type */
    .font-variant-numeric\:lining-nums {
        font-variant-numeric: lining-nums;
    }

    .font-size\:--_cv-fontSize-s {
        font-size: var(--_cv-fontSize-s) !important;
    }

    .text-align\:right {
        text-align: right !important;
    }

    /* Stack props */
    .margin-block-start\:--_cv-space-0 {
        margin-block-start: var(--_cv-space-0);
    }

    /* Cluster props */
    .justify-content\:center {
        justify-content: center;
    }

    .justify-content\:flex-start {
        justify-content: flex-start;
    }

    /* General */
    .padding\:--_cv-space-l {
        padding: var(--_cv-space-l);
    }

    .gap\:--_cv-space-s-xl {
        gap: var(--_cv-space-s-xl);
    }

    .color\:--_cv-color-neutral {
        color: var(--_cv-color-neutral);
    }

    /* layout debugger */
    .* {
        outline: deeppink dotted 0.5px;
    }


    /* login alert + animation */

    .alert {
        animation: slide-up 250ms ease;
    }

    @keyframes slide-up {
        0% {
            opacity: 0;
            transform: translateX(0.4rem);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }